---
title: "Python 기초문법"
date: '2022-06-27'
---

- Hello world

In [ ]:
print("Hello world")

Hello world

## 주석처리
- 1줄 주석, 여러줄 주석 처리
- 여러 줄 주석 처리
  + 함수 또는 클래스를 문서화 할 때 주로 사용
- 프로젝트 할 때
  + 전체 공정 100
  + 코드 / 코드 문서화 / 한글 작업 문서화
  + 코드 문서화가 가장 어렵다.

In [ ]:
# print() 함수 사용
print("1줄 주석")
"""
여러 줄 주석
쌍따옴표 3개를 입력해주세요
앞과 뒤로 
"""

print("여러 줄 주석")

1줄 주석
여러 줄 주석

## 변수 (Scalar)
- 자료형
- Scalar형 Non-Scalar형

### 수치형 자료형
- int, float

In [ ]:
num_int = 1
print(num_int)
print(type(num_int))

1
<class 'int'>

In [ ]:
num_float = 0.1
print(num_float)
print(type(num_float))

0.1
<class 'float'>

### Bool형
- True, False
- R에선 모든 대문자: TRUE, FALSE

In [ ]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

### None 자료
- Null값, 값이 정해지지 않은 자료형

In [ ]:
none_x = None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

## 사칙연산
- 정수형 사칙연산, 실수형 사칙연상
- 결괏값의 자료형

### 정수형 사칙연산

In [ ]:
a = 3
b = 2
print('a + b =', a+b)

a + b = 5

### 실수형 사칙연산

In [ ]:
a = 1.5
b = 2.5
print('a + b = ', a+b)

a + b =  4.0

In [ ]:
a = 3.3
b = 6.4
print('a + b = ', a+b )
print('a - b = ', a-b )
print('a*b = ', a*b)
print('a/b=', a/b)

a + b =  9.7
a - b =  -3.1000000000000005
a*b =  21.12
a/b= 0.5156249999999999

## 논리형 연산자
- Bool형
- True와 False값으로 정의
- 조건식
  + 교집합(=and), 합집합(=or)

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

## 비교 연산자
- 비교 연산자는 부등호를 의미한다.

In [ ]:
print(4>3) #참 = True
print(4<3) #거짓 = False

print(4>3 and 4<3)
print(4>3 or 4<3)

True
False
False
True

## 논리형 & 비교 연산자 응용
- input()
- 형변환
- 데이터 타입을 변경하는 것

In [ ]:
var = int(input("숫자를 입력하세요..!"))
print(var)
print(type(var))

숫자를 입력하세요..!1
1
<class 'int'>

In [ ]:
num1 = int(input("첫번째 숫자를 입력하세요..!"))
num2 = int(input("두번째 숫자를 입력하세요..!"))
num3 = int(input("세번째 숫자를 입력하세요..!"))
num4 = int(input("네번째 숫자를 입력하세요..!"))

첫번째 숫자를 입력하세요..!1
두번째 숫자를 입력하세요..!2
세번째 숫자를 입력하세요..!3
네번째 숫자를 입력하세요..!4

In [ ]:
var1 = num1 >= num2 #False
var2 = num3 < num4 #True

In [ ]:
print(var1 and var2)
print(var1 or var2)

False
True

## String
- Non-Scalar

In [ ]:
print('Hello world')
print("Hello world")

print("'Hello world'")
print('"Hello world"')

Hello world
Hello world
'Hello world'
"Hello world"

## String Operator
- 문자열 연산자
- +, * 만 가능하다.

In [ ]:
str1 = "Hello "
str2 = "World "
print(str1 + str2)

Hello World

In [ ]:
greet = str1 + str2
print(greet *8)

Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World

In [ ]:
a = "Pyhone"
a

'Pyhone'

## 조건문 if

In [ ]:
a = 3
if a > 1:
  print ("a is greater than 1") #if a > 1: 다음 문장은 Tab으로 들여쓰기를 해야한다.

a is greater than 1

## 반복문 for

In [ ]:
a = "Pthon"
for a in [1,2,4]: 
  print(a)

1
2
4

## 반복문 while

In [ ]:
i = 0
while i < 3:
  i = i++1
  print(i)

1
2
3

## 함수

In [ ]:
def add(a, b):
  return a+b
  
add(3,4)

7

##8진수와 16진수 #진수는잘쓰이진 않음

In [ ]:
a = 0o177 #8진수
b = 0xABC
print(a,b)

127 2748

## 사칙연산

In [ ]:
a = 3
b = 4
a ** b

81

### 나눗셈 후 나머지를 반환하는 % 연산자

In [ ]:
7 % 3

1

In [ ]:
3%7

3

나눗셈 후 몫을 반환하는 //연산자

In [ ]:
7 //4

1

1. 문자열에 작은 따옴표 ('')포함시키기

In [ ]:
food = "Pyhon's favorite food is perl" #''로 하면 오류가 발생한다.
food

"Pyhon's favorite food is perl"

## 문자열 인덱싱
- 인덱싱은 0 번째부터 시작

In [ ]:
greeting = "Hello Kaggle"
i = 7
print(greeting[i]) # 이렇게 하는 것이 빈번하다. 제대로 된 것인지 확인할 때 쓴다
print(greeting)
print(greeting[4])

a
Hello Kaggle
o

In [ ]:
greeting = "Hello Kaggle"
i = int(input("숫자를 입력하세요...!"))
print(greeting[i])

숫자를 입력하세요...!2
l

##슬라이싱

In [ ]:
greeting = "Hello Kaggle"
# print(greeting[시작인덱스:끝인덱스-1])
print(greeting[0:8])
print(greeting[:8])
print(greeting[6:])
print(greeting[0:10:2])
print(greeting[0:10:3])
print(greeting[0:10:4])

Hello Ka
Hello Ka
Kaggle
HloKg
HlKg
Hog

In [ ]:
alphabet_letter = "abcdefghijklmnopqrstuvwxyz "
print(alphabet_letter[0::2])

acegikmoqsuwy

In [ ]:
greeting = "Hello Kaggle"
print(greeting[100])

IndexError: ignored

In [ ]:
greeting = "Hello Kaggle"
print(greeting[11])

e

## 문자열 관련 메소드
 + split()
 + srt()
 + etc

## 리스트
- []로 표시.
- [item1, item2, item3]

In [ ]:
a = [] # 빈 리스트
a = function = list # 빈 리스트 생성
b = [1] # 숫자 요소
c = ['apple'] # 문자 요소
d = [1, 2, ['aplpe'],'apple']
print(d)

[1, 2, ['aplpe'], 'apple']

### 리스트 값 수정하기
- 리스트 값 수정

In [ ]:
a = [0,1,2]
a[1] = "이용수"
print(a)

[0, '이용수', 2]

### 리스트 값 추가하기
- 메소드 사용

In [ ]:
a = [100,200,300]
a.append(400)  #a = a.append(400) 이렇게 하지 않고 바로 a.append로 한다. 
print(a)

a.append([500,600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]

In [ ]:
a = [100,200,300]
a.append(400) #하나의 값만 넣고 싶을 때

print(a)
a.extend([400,500]) # 여러 값을 넣고 싶을 때
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, 400, 500]

## insert(인덱스 특정 위치에 값을 넣기)

In [ ]:
a = [100,200,300]
a.insert(0,50)
print(a)

[50, 100, 200, 300]

### 리스트 값 삭제하기
- remove, del

In [ ]:
a = [1,2,1,2]
a.remove(1)

print(a) # 첫번째 등장하는 1을 삭제한다

a.remove(10)

[2, 1, 2]

ValueError: ignored

In [ ]:
a = [1,2,1,2,10]
a.remove(1)

print(a) # 첫번째 등장하는 1을 삭제한다

a.remove(10)
print(a)

[2, 1, 2, 10]
[2, 1, 2]

+del

In [ ]:
a = [0,1,2,3,4]
del a[1]
print(a)

del a[:2]
print(a)

[0, 2, 3, 4]
[3, 4]

##### 문자열, 리스트
- 내장함수를 익히는 것이 포인트!!

- pop()

In [ ]:
a = [1,2,3,4,5]
rem = a.pop(1)
x = a.pop() # 마지막값 출력


print(a)
print(rem)
print(x)

[1, 3, 4]
2
5

- clear() : 리스트 내 모든 값 삭제
- index("값") : 값의 위치를 불러오기(찾기)

In [ ]:
a = [1,4,5,2,3]
b = ["철수", "영희", "길동"]
print(a.index(4))
print(b.index("길동"))

1
2

- sort : 리스트의 정렬

In [ ]:
a = [1,4,5,2,3]
a.sort()
print(a)
a.sort(reverse=True)
print(a)
help(list.sort)
help(list.index)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

## 튜플 
- 면접 질문 : 리스트와 튜플의 차이는 무엇인가?
- list : []
 + 수정, 삭제, 추가
- 튜플 : ()
 + 다 안됨

In [ ]:
tuple1 = (0)
tuple2 = (0, )
tuple3 = 0, 1, 2
print(type(tuple1))
print(type(tuple2))
print(type(tuple3)) #콤마가 있으냐 없느냐에 따라서 인트인지 튜플인지 구분된다.

print(tuple1) # 그냥 숫자가 프린트된다.
print(tuple2)
print(tuple3)

<class 'int'>
<class 'tuple'>
<class 'tuple'>
0
(0,)
(0, 1, 2)

In [ ]:
a = (0,1,2,3,"a")
del a [4]

TypeError: ignored

In [ ]:
a = [0,1,2,3,"a"] #()로 하면 에러뜬다.
a[4] = 4
print(a)

[0, 1, 2, 3, 4]

## 튜플(리스트도 포함) 연산자
- 문자열 연산자
- +, *

In [ ]:
t1 = [0,1,2] # []로 하든 ()로 하든 동일한 결과값이 나온다.
t2 = [3,4,5]
print(t1+t2)
print(t1*t2)

[0, 1, 2, 3, 4, 5]

TypeError: ignored

## dictionary
- keys와 value로 구성됨
- cf) 슬라이싱 : 데이터에 순서가 존재해야한다..
- 순서라는 개념 자체가 존재하지 않음

In [ ]:
temp_dict = {
    'teacher' : 'evan',
    'class' :  15,
    'students' : ['s1', 's2', 's3']
}


print(temp_dict["teacher"])
print(temp_dict["class"])
print(temp_dict["students"])
print(temp_dict["A"])

evan
15
['s1', 's2', 's3']

KeyError: ignored

- keys()값만 출력

In [ ]:
list(temp_dict.keys())

['teacher', 'class', 'students']

- value() 값만 출력

In [ ]:
temp_dict.values()

dict_values(['evan', 15, ['s1', 's2', 's3']])

- item() key-values 쌍으로, list와 tuple 형태로 변환 가능하다.

In [ ]:
temp_dict.items()

dict_items([('teacher', 'evan'), ('class', 15), ('students', ['s1', 's2', 's3'])])

## 조건문
-

In [ ]:
a = -5
if a > 5:
  print("a는 5보다 크다")
elif a > 0:
  print("a는  0보다 크다 ")
elif a > -5:
  print("a는 -5보다 크다")
else:
  print("a는 매우 작다")
  # 조건문이 만족하는 것만 출력된다.

a는 매우 작다

## 반복문

In [ ]:
### Hello world 1,000,000번 출력하세요
for i in range(7):  # 여기서 i는 그냥 변수
  print(i+1)   
  print("Hello world")

1
Hello world
2
Hello world
3
Hello world
4
Hello world
5
Hello world
6
Hello world
7
Hello world

In [ ]:
### Hello world 1,000,000번 출력하세요
for i in range(5):  # 여기서 i는 그냥 변수. 아무거나 넣어도 됌 
  print(i+1,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world

- for loop if 조건문 사용
- 문자열 리스트 등 --> 시퀀스 데이터

In [ ]:
a = "Kaggle"
# g 가 시작하면 반복문을 멈추세요
for x in a:
  print(x)
  if x == 'g':
    break

K
a
g

In [ ]:
a = "Kaggle"
# g 가 시작하면 반복문을 멈추세요
for x in a:
  if x == 'g':
    break
  print(x)  
  # print(x) 의 위치에 따라 결과값이 달라지네??

K
a

- enumerate()

In [ ]:
alphabets = ['a', 'b', 'c']
for i, value in enumerate(alphabets):
  print(i, value)

0 a
1 b
2 c

## 리스 컴프리헨션
list comprehension #반복문을 한줄로 표시한다

In [ ]:
fruits = ['apple', 'kiwi', 'mango']
newlists = []

# 알파벳 a가 있는 과일만 추출 후, 새로운 리스트에 담기
for fruit in fruits:
  if "a" in fruit:
    newlists.append(fruit)
print(newlists) # 너무 복잡하네...

['apple', 'mango']

In [ ]:
# 리스트 컴프리헨션
newlist = [fruit for fruit in fruits if 'a' in fruit] 
print(newlist)

['apple', 'mango']

- 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [ ]:
multiline = "Life is too short \nYou need python "
print(multiline)

Life is too short
You need python

In [ ]:
multiline="""
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

\n : 문자열 안에서 줄을 바꿀 때 사용 
\t : 문자열 사이에 탭 간격을 줄 때 사용
\\ : 문자\를 그대로 표현할 때 사용 
\' : 작음따옴표(')를 그대로 표현할 때 사용
\" : 큰따옴표(")를 그대로 표현할 때 사용

In [ ]:
a = "abcde\nfg"
print(a)

abcde
fg

In [ ]:
a = "abcd\fefg"
print(a)

abcdefg

In [ ]:
a = "abcdef\'g\'"
print(a)

abcdef'g'

In [ ]:
a = "abcdef\"g\""
print(a)

abcdef"g"

In [ ]:
head = "Python"
tail = "is fun"
head + tail

'Pythonis fun'

In [ ]:
a = "fun"
a*2

'funfun'

문자열 곱하기를 좀 더 응용해 보자. 다음 소스를 IDLE 에디터를 열고 작성해 보자.

# multistring.py

print("=" * 50)
print("My Program")
print("=" * 50)
입력한 소스는 C:\doit 디렉터리에 파일 이름 multistring.py로 저장하자.

이제 프로그램을 실행해 보자. [윈도우 + R(실행) → cmd 입력 → Enter]를 눌러 명령 프롬프트 창을 열고 다음을 따라 해 보자. 결괏값이 다음과 같이 나타날 것이다.

C:\Users>cd C:\doit
C:\doit>python multistring.py
==================================================
My Program
==================================================
이런 식의 표현은 앞으로 자주 사용하게 될 것이다. 프로그램을 만들어 실행시켰을 때 출력되는 화면 제일 위쪽에 프로그램 제목을 이와 같이 표시하면 보기 좋지 않겠는가?

In [ ]:
a = "0123456789101112"
len(a)

16

In [ ]:
a = "12345678910"
a[9:11] # 인덱스가 되어있기 때문에 10을 표현하려면 슬라이싱으로 표현해야한다.

'10'